<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <title>Adminstrateur Templates</title>

    <!-- CSS FILES -->      
         
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="css/bootstrap-icons.css" rel="stylesheet"> -->
<!-- <link href="css/apexcharts.css" rel="stylesheet"> -->
<!-- <link href="css/tooplate-mini-finance.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../static/créer_carte_admin.css">
    
</head>

    <body>
        <header class="navbar flex-md-nowrap">
            <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
                <a class="navbar-brand" href="index.html">
                    <div class="logo">
                        <img src="https://seeklogo.com/images/C/cbi-logo-AE7D35EAC7-seeklogo.com.png" alt="Logo de l'entreprise">
                    </div>
                </a>
            </div>
                <span class="navbar-toggler-icon"></span>
            </button>
      
                </div>
            </div>
        </header>

        <div class="title-group mb-3">
            
        </div>
        <div class="container">
            <div class="text">Créer Carte</div>
            <form id="create-category-form">
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" id="category-name" required>
                        <label for="category-name">Nom de Carte</label>
                        <div class="underline"></div>
                    </div>
                </div>
       
                <div id="fields-container">
                   
                </div>
                <div class="form-buttons">
                    <button type="button" id="add-field-button" style="margin-right: 10px;">Ajouter champ</button>
                    <button type="submit" id="save-card-button" style="margin-left: 10px;">Enregistrer</button>
                </div>
                <button type="button" id="view-all-cards-button" onclick="window.location.href='Admin_carte_page.html'" style="margin-left: 200px; background: -webkit-linear-gradient(right, #56c8e4, #9f01ea, #56aee4, #9f01ea);">Toutes les Cartes</button>
            </form>
        </div>

    <!-- JAVASCRIPT FILES -->
    <script src="../static/créer_carte_admin.js"></script>
</body>
</html>