<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <title>Adminstrateur Templates</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='tooplate-mini-finance.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='carte_page.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>
    <header class="navbar flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <div class="logo">
                    <img src="https://seeklogo.com/images/C/cbi-logo-AE7D35EAC7-seeklogo.com.png" alt="Logo de l'entreprise">
                </div>
            </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0" role="form">
            <button class="searchButton">
                <i class="fas fa-search"></i>
            </button>
            <input id="search-input" class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form>
        
        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <div class="dropdown ps-3">
                    <div class="container">
                        <div class="btn" id="btn1">Créer carte</div>
                        <div class="btn" id="btn2"><a href="{{ url_for('index') }}">Test</a></div>
                    </div>       
                </div>
            </div>
        </div>
    </header>

    <!-- Modale pour créer une carte -->
    <div id="modal-backdrop-create" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index:900;"></div>

    <div id="create-card-modal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); padding:20px; background:#fff; border:1px solid #ccc; box-shadow:0 0 10px rgba(0,0,0,0.1); z-index:1000; border-radius: 20px;">
        <h2 class="text-creer">Créer une carte</h2>
        <form id="create-card-form" method="POST" action="{{ url_for('create_card') }}">
            <label for="new-card-title">Titre :</label>
            <input type="text" id="new-card-title" name="new_card_title" required>
            <br>
            <label for="new-card-description">Description :</label>
            <textarea id="new-card-description" name="new_card_description" rows="3" cols="75" required></textarea>
            <br>
            <label for="new-card-json-structure">Structure :</label>
            <textarea id="new-card-json-structure" name="new_card_json_structure" rows="4" cols="75" required></textarea>
            <br>
            <button type="submit" id="creer_car">Créer</button>
            <button type="button" id="close-create-modal">Annuler</button>
        </form>
    </div>

    <!-- Boîte de confirmation pour suppression -->
    <div id="confirm-delete-dialog" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); padding:20px; background:#fff; border:1px solid #ccc; box-shadow:0 0 10px rgba(0,0,0,0.1);">
        <p>Êtes-vous sûr de vouloir supprimer cette carte ?</p>
        <button id="delete-yes">Oui</button>
        <button id="delete-no">Non</button>
    </div>

    <!-- Boîte de confirmation pour annulation -->
    <div id="confirm-cancel-dialog" class="confirm-dialog" style="display: none;">
        <p>Êtes-vous sûr de vouloir annuler cette opération ?</p>
        <button id="cancel-yes">Oui</button>
        <button id="cancel-no">Non</button>
    </div>

    <!-- Container transparent qui occupe tout l'écran -->
    <div id="modal-backdrop" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index:900;"></div>

    <!-- Formulaire de modification dans une boîte modale -->
    <div id="edit-card-modal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); padding:20px; background:#fff; border:1px solid #ccc; box-shadow:0 0 10px rgba(0,0,0,0.1); z-index:1000; border-radius: 20px;">
        <h2 class="text-eddit">Modifier la carte</h2>
        <form id="edit-card-form" method="POST" action="{{ url_for('edit_card') }}">
            <input type="hidden" id="card-id" name="card_id">
            <label for="card-title">Titre :</label>
            <input type="text" id="card-title" name="card_title" required>
            <br>
            <label for="card-description">Description :</label>
            <textarea id="card-description" name="card_description" rows="4" required></textarea>
            <br>
            <label for="card-json-structure">Structure :</label>
            <textarea id="card-json-structure" name="card_json_structure" rows="4" required></textarea>
            <br>
            <button type="submit">Sauvegarder</button>
            <button type="button" id="close-edit-modal">Annuler</button>
        </form>
    </div>

    <div class="cards-wrapper">
        {% for card in cards %}
        <div class="card" data-card-id="{{ card.id }}" data-card-title="{{ card.title }}"
             data-card-json-structure='{{ card.json_structure | tojson }}'
             data-card-description="{{ card.description }}"
             onclick="selectCard(this)">
            <h3>{{ card.title }}</h3>
            <div class="button-container">
                <button class="edit-button"><i class="bi bi-pencil-square"></i></button>
                <button class="noisy-button" style="width:200px ;"><i class="bi bi-eye"> Aperçu</i></button>
                <button class="cancel-button" style="width:115px ;">Supprimer</button>
                <button class="validate-button" style="width:115px ;">Valider</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='carte_page.js') }}"></script>
</body>
</html>
