<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="logo">
                <img src="https://seeklogo.com/images/C/cbi-logo-AE7D35EAC7-seeklogo.com.png" alt="Logo de l'entreprise">
            </div>
            <h2>File Upload!</h2>
            <div class="drag-file-area" id="drag-file-area">
                <img class="upload-icon" src="https://img.icons8.com/plasticine/100/000000/upload.png" alt="Upload Icon">
                <p class="dynamic-message">Drag and drop files here</p>
                <label for="file-upload">or select files from your computer</label>
                <input type="file" id="file-upload" class="default-file-input" name="files" multiple required>
            </div>
            <button id="upload-button" class="upload-button" disabled>Upload</button>
            <div class="progress-bar"></div>
            <div class="cannot-upload-message">Cannot upload files. Please select files.</div>
            <div class="file-block">
                <div id="file-details-container"></div>
            </div>
        </div>
        <div class="cards-wrapper">
            {% for card in cards %}
            <div class="card" data-card-title="{{ card.title }}"
                 data-card-json-structure='{{ card.json_structure | tojson }}'
                 data-card-description="{{ card.description }}"
                 onclick="selectCard(this)">
                <h3>{{ card.title }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="../static/index.js"></script>
</body>
</html>
